<p>componente-inicial works!</p>
<h2>{{nombre}}</h2>
<h2>{{nombre | primerPipe}}</h2>
<h3>El mensaje secundario dice: "{{mensajeRecibido}}"</h3>

<h1>Valor: {{ contador }}</h1>
<!-- <button (click)="incrementar()">Incrementar</button>
<button (click)="decrementar()">Decrementar</button> -->


<app-componente-secundario
(mensajeParaAfuera)="recibirMensaje($event)"
[recibeSecundario] = 'mensajePadre'
(incrementarDesdeSecundario)="incrementar()"
(decrementarDesdeSecundario)="decrementar()">
</app-componente-secundario>

<app-hermano-de-inicial></app-hermano-de-inicial>

<br>
<br>
<br>

<div class="navbar">
    <div>
        <p appDirectivaDeBoton>Espacio 1</p>
    </div>
    <div>
        <p>Espacio 2</p>
    </div>
    <div>
        <p>Espacio 3</p>
    </div>
</div>